{% extends 'users/base.html' %}
{% block 'title' %}Cadastro{% endblock %}
{% block 'heading' %}Cadastrar Usuário{% endblock %}
{% block content %}
<div class="container text-center my-5">
  <form action="{% url 'contact:users_list' %}" method="post">
    {% csrf_token %}
    <div class="row my-2 py-2 bg-success bg-gradient text-white rounded-3 border-info">
      <div class="col-sm">Nome:</div>
      <div class="col-sm">Idade:</div>
      <div class="col-sm">Cadastrar?</div>
    </div>

    <div class="row my-2 py-2 bg-info bg-gradient text-white rounded-3 border-primary">
      <div class="col-sm p-1 mx-1"><input class="form-control" type="text" name="name" value="{{user.name}}"></div>
      <div class="col-sm p-1 mx-1"><input class="form-control" type="text" name="age" value="{{user.age}}"></div>  
      <div class="col-sm"><input class="btn btn-success p-1 my-2" type="submit" name="delete" value="Cadastrar"></div>
    </div>
  </form>
</div>
{% endblock %}